html {
  font-size: 10px;
}
html[lang="ko-KR"],
html[lang="ko"] {
  font-family: Noto Sans KR, sans-serif;
}
html body {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.4;
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 100;
  src: local("NotoKR-Thin"), local("NotoKR-Thin"), local("NotoKR-Thin");
  src: url(../fonts/NotoKR-Thin/notokr-thin.eot);
  src: url(../fonts/NotoKR-Thin/notokr-thin.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 300;
  src: local("NotoKR-Light"), local("NotoKR-Light"), local("NotoKR-Light");
  src: url(../fonts/NotoKR-Light/notokr-light.eot);
  src: url(../fonts/NotoKR-Light/notokr-light.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 350;
  src: local("NotoKR-DemiLight"), local("NotoKR-DemiLight"),
    local("NotoKR-DemiLight");
  src: url(../fonts/NotoKR-DemiLight/notokr-demilight.eot);
  src: url(../fonts/NotoKR-DemiLight/notokr-demilight.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 400;
  src: local("NotoKR-Regular"), local("NotoKR-Regular"), local("NotoKR-Regular");
  src: url(../fonts/NotoKR-Regular/notokr-regular.eot);
  src: url(../fonts/NotoKR-Regular/notokr-regular.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  src: local("NotoKR-Medium"), local("NotoKR-Medium"), local("NotoKR-Medium");
  src: url(../fonts/NotoKR-Medium/notokr-medium.eot);
  src: url(../fonts/NotoKR-Medium/notokr-medium.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  src: local("NotoKR-Bold"), local("NotoKR-Bold"), local("NotoKR-Bold");
  src: url(../fonts/NotoKR-Bold/notokr-bold.eot);
  src: url(../fonts/NotoKR-Bold/notokr-bold.eot?#iefix)
    format("embedded-opentype");
}
@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 900;
  src: local("NotoKR-Black"), local("NotoKR-Black"), local("NotoKR-Black");
  src: url(../fonts/NotoKR-Black/notokr-black.eot);
  src: url(../fonts/NotoKR-Black/notokr-black.eot?#iefix)
    format("embedded-opentype");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  height: auto;
  margin: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
html * {
  box-sizing: border-box;
  word-wrap: break-word;
}
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
article,
aside,
canvas,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
command,
datalist,
keygen,
mark,
meter,
progress,
rp,
rt,
ruby,
time,
wbr {
  display: inline;
}
img {
  display: inline-block;
  /*
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  */
  max-width: 100%;
  transform: translateZ(0);
  vertical-align: top;
}
fieldset,
img {
  border: 0;
}
li,
ol,
ul {
  list-style: none;
}
pre {
  white-space: pre-wrap;
}
caption,
legend {
  position: relative;
  clip: rect(0 0 0 0);
  border: 0;
  clear: both;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}
a {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
a:active,
a:focus,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
address,
cite,
em,
i {
  font-style: normal;
  font-weight: 400;
}
button,
input,
select,
table,
textarea {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}
button,
select {
  cursor: pointer;
}
input,
select,
textarea {
  border: 0;
  border-radius: 0;
  outline-color: -moz-use-text-color;
  outline-width: medium;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}
label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
table {
  border-spacing: 0;
  table-layout: fixed;
}
table,
td,
th {
  border-collapse: collapse;
}
select::-ms-expand {
  display: none;
}
::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #443b27;
  border-bottom: 1px solid transparent;
  border-radius: 8px;
  border-top: 1px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
}
.clearfix:after {
  clear: both;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}
.d-none {
  display: none !important;
}
[class*="gra"] {
  position: relative;
}
[class*="gra"]:after,
[class*="gra"]:before {
  border-radius: inherit;
  content: "";
  pointer-events: none;
  position: absolute;
}
[class*="gra"]:after {
  inset: 0;
  -webkit-mask: var(--mask-contents);
  mask: var(--mask-contents);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
}
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  z-index: 30;
}
.modal .modal-content {
  background-color: #f6f1e9;
  border: 1px solid #888;
  border-radius: 8px;
  left: 50%;
  padding: 56px 24px 24px 24px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}
.modal .modal-content video {
  height: auto;
  width: auto;
  max-height: 70vh;
  max-width: 70vw;
}
.modal .close {
  background: none;
  color: #000;
  display: block;
  filter: var(--text-shadow);
  float: right;
  font-size: 26px;
  font-weight: 700;
  height: 26px;
  line-height: 1;
  margin-left: auto;
  position: absolute;
  right: 12px;
  top: 12px;
  transition: all 0.1s ease-in-out;
  width: 26px;
}
.modal .close:focus,
.modal .close:hover {
  color: #e00400;
  cursor: pointer;
  text-decoration: none;
  /*
  text-shadow: var(--text-stroke);
  */
}
.modal p {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
  font-weight: 500;
}
.container:has(.markdown-content) .btn-back {
  position: absolute;
}
.btn-back {
  align-items: center;
  background: #c3b79e;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    inset 0 -3px 4px 0 rgba(56, 48, 31, 0.25);
  display: flex;
  height: 4rem;
  justify-content: center;
  left: 16px;
  position: sticky;
  top: 16px;
  width: 4rem;
  z-index: 1;
}
.btn-back:before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3));
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
.btn-back:focus,
.btn-back:hover {
  background: hsla(41, 24%, 69%, 0.6);
}
.btn-back .ico-back {
  aspect-ratio: 1/1;
  background-image: url(/eg-bim_guide/help/images/ico/ico_arrow_back.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 2rem;
}
.dim-background {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: var(--window-inner-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 2561px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1921px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}
