---
import { IMAGE_BASE_PATH } from '../config';
---
 
 <section id="group5" class="customize02">
  <!-- 타이틀 -->
  <div class="page-tit-wrap">
    <div class="tit-box">
      <span class="page-tail"></span>
      <h3>
        사용자 작업 스타일에 맞게&nbsp;
        <span>기본적인 프로그램</span>&nbsp;환경을 설정
      </h3>
      <span class="page-tail"></span>
    </div>
    <div class="tip-box">
      <h4 class="tip-tit">How to use</h4>
      <dl>
        <dt>방식 1</dt>
        <dd>명령어 입력창&nbsp;&nbsp;>&nbsp;&nbsp;Command : OPTIONS</dd>
      </dl>
      <dl>
        <dt>방식 2</dt>
        <dd>
          홈메뉴&nbsp;&nbsp;>&nbsp;&nbsp;사용자
          설정&nbsp;&nbsp;>&nbsp;&nbsp;Display&Mouse
        </dd>
      </dl>
    </div>
  </div>

  <!-- // 타이틀 -->
  <div class="contents">
    <div class="inner">
      <img class="bg-img" src={`${IMAGE_BASE_PATH}/customize/3x_customize_02.png`} alt=" " />
      <div class="blind">
        <dl>
          <dt>작업화면 디스플레이</dt>
        </dl>
         <dl>
          <dt>마우스 기능 설정</dt>
          <dd>휠 스크롤 : 화면의 확대/축소량 설정</dd>
          <dd>휠 클릭 : 화면 초점 이동 or 객체스냅 선택 적용</dd>
          <dd>왼쪽/오른쪽 클릭 : 객체 선택·명령 진행 시 기본·편집 메뉴 or 마지막 명령 반복 선택</dd>
 
          <dt>도면공간</dt>
          <dd>새 도면공간(Layout) 생성 시 뷰포트창 자동 생성 여부 선택</dd>
 
          <dt>파일 보안 및 저장</dt>
          <dd>도면 형식 및 저장 버전 선택</dd>
          <dd>프록시 객체 알림 및 표시 설정</dd>
 
          <dt>자동 저장 및 백업</dt>
          <dd>프로그램 다운에 대비한 저장 간격·경로 지정으로 백업 및 임시파일 관리</dd>
 
          <dt>프로그램 종료 시 파일 설정</dt>
          <dd>여러 파일 열림 상태에서 창 닫기 시 옵션 활성화 여부</dd>
        </dl>
      </div>
    </div>
  </div>
</section>