---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group7" class="customize04">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="tit-box">
    <span class="page-tail"></span>
    <h3>
      <span>명령어별 별칭 또는 단축키</span>&nbsp;설정해 명령어를 간단히 실행
    </h3>
    <span class="page-tail"></span>
  </div>
  <div class="tip-box">
    <h4 class="tip-tit">How to use</h4>
    <dl>
      <dt>방식 1</dt>
      <dd>
        명령어 아이콘바&nbsp;&nbsp;>&nbsp;&nbsp;명령어
        전체보기&nbsp;&nbsp;>&nbsp;&nbsp;단축키
      </dd>
    </dl>
  </div>
</div>

<!-- // 타이틀 -->

<div class="contents">
  <div class="inner">
      <img class="bg-img" src={`${IMAGE_BASE_PATH}/customize/3x_customize_04.png`} alt=" " />
      <div class="blind">
        <dl>
          <dt>명령어 검색</dt>
          <dd>영문 명령어  or 별칭으로 검색</dd>
 
          <dt>명령어 그룹 선택</dt>
 
          <dt>명령어 선택</dt>
 
          <dt>별칭</dt>
          <dd>영문 or 숫자 / 영문 + 숫자 조합 가능</dd>
          <dd>명령어당 최대 2개 지정</dd>
          <dd>우클릭 시 별칭 제거</dd>
 
          <dt>단축키</dt>
          <dd>조합키(CTRL·ALT·SHIFT) + 영문 or 숫자 / 기능키(F1~F12)로 설정</dd>
          <dd>명령어당 최대 1개 지정</dd>
          <dd>우클릭 시 단축키 제거</dd>
        </dl>
      </div>
  </div>
</div>
</section>
 