---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group21" class="block01">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="tit-box">
    <span class="page-tail"></span>
    <h3>
      <span>블록/속성블록/외부참조(이미지)</span>를
      도면에&nbsp;<span>생성</span>하고&nbsp;<span>통합 관리</span>
    </h3>
    <span class="page-tail"></span>
  </div>
  <div class="tip-box">
    <h4 class="tip-tit">How to use</h4>
    <dl>
      <dt>방식 1</dt>
      <dd>명령어 입력창&nbsp;&nbsp;>&nbsp;&nbsp;Command : BLOCK</dd>
    </dl>
    <dl>
      <dt>방식 2</dt>
      <dd>
        명령어
        전체보기&nbsp;&nbsp;>&nbsp;&nbsp;블록&nbsp;&nbsp;>&nbsp;&nbsp;<img
          src={`${IMAGE_BASE_PATH}/ico/ico_block.svg`}
          alt=""
        />&nbsp;&nbsp;블록 만들기&nbsp;&nbsp;>&nbsp;&nbsp;블록 통합 관리창
      </dd>
    </dl>
  </div>
</div>

<!-- // 타이틀 -->
<div class="contents">
  <div class="inner">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/block/3x_block_01.png`} alt=" " />
    <!-- 링크 -->
    <ul>
      <li>
        <a class="link-block" href="/civil-engineering-lab/help/block02">
          <span class="blind">블록</span>
          <div class="blind">
            객체 반복 사용 시 반복 객체 블록화
            동일 이름 블록은 수정 시 일괄 반영
          </div>
        </a>
      </li>

      <li>
        <a class="link-atrbBlock" href="/civil-engineering-lab/help/block03">
          <span class="blind">속성블록</span>
          <div class="blind">
            속성문자가 포함된 블록으로 같은 블록이라도 블록별 개별 속성값 설정 가능
          </div>
        </a>
      </li>

      <li>
        <a class="link-ref" href="/civil-engineering-lab/help/block04">
          <span class="blind">외부참조</span>
           <div class="blind">
            외부파일(DWG, PDF, JPG 등)을 현재 파일에 연결해 블록으로 사용
            외부참조된 원본 수정 시 현재 파일에 반영
          </div>
        </a>
      </li>
      <li class="blind">
          <dl>
            <dt>블록 검색</dt>

            <dt>블록 속성정보</dt>
            <dd>기본 속성정보(미리보기 창, 블록 이름, 설명, 레이어 등)와 블록 삽입 시 설정 및 뷰포트 스케일 설정 등 블록 기본 설정 가능</dd>

            <dt>블록 단위</dt>
            <dd>도면에 삽입되는 단위 지정. 블록, 속성블록, 외부참조에 공통 적용</dd>
          </dl>
      </li>
    </ul>
    <!-- // 링크 -->
  </div>
</div>
</section>