---
import { IMAGE_BASE_PATH } from '../config';
---


<section id="group1" class="login">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="page-tit-wrap">
    <div class="tit-box">
      <span class="page-tail"></span>
      <h3>
        이지빔 소프트웨어&nbsp;<span>로그인 및 로그아웃</span>
      </h3>
      <span class="page-tail"></span>
    </div>
    <!--div class="tip-box">
      <h4 class="tip-tit">How to use</h4>
      <dl>
        <dt>방식 1</dt>
        <dd>
          상단 바 좌측&nbsp;&nbsp;>&nbsp;&nbsp;EG-BIM 
          로고&nbsp;&nbsp;>&nbsp;&nbsp;홈메뉴&nbsp;&nbsp;>&nbsp;&nbsp;S/W 정보
        </dd>
      </dl>
    </div -->
  </div> 
</div>

<!-- // 타이틀 -->
<div class="contents">
  <div class="inner">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/interface/3x_information.png`} alt=" " />

    <div class="blind">
      <dl>
        <dt>로그인창</dt>
        <dd>첫 실행 or 로그아웃 후 이지빔 실행 시 발생</dd>

        <dt>아이디 입력</dt>
        <dt>비밀번호 입력</dt>

        <dt>로그인</dt> 
        <dd>아이디, 비밀번호 입력 후 로그인하여 이지빔 실행</dd>
        <dd>오프라인 환경에서도 로그인 기능 지원</dd>

        <dt>회원가입</dt>
        <dd>계정이 없는 경우, 홈페이지에서 회원가입 진행</dd>

        <dd>사용자 인증</dd>
        <dd>이지빔을 사용하기 위해 홈페이지에서 사용자 인증 필요</dd>
        <dd>최종 온라인 인증 시간부터 30일 or 라이센스 유효 기간 중 더 짧은 시간을 기준으로 재인증</dd>
        
        <dt>비밀번호 재설정</dt>
        <dd>비밀번호가 기억나지 않는 경우, 홈페이지에서 비밀번호 복구</dd>

        <dt>S/W 정보</dt>
        <dt>사용자 정보</dt>

        <dt>라이센스 유효일</dt>
        <dd>일반 사용자 : 만료일자 표시</dd>
        <dd>내부 사용자 : ∞ 표시</dd>

        <dt>로그아웃</dt>
        <dd>파일 탭에 도면이 있는 경우 로그아웃 불가하므로 모든 도면을 종료 후 로그아웃 * 도면 종료 시 파일 탭</dd>
      </dl>
    </div>

  </div>
</div>
</section>