---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group2" class="interface02">
  <!-- 타이틀 -->
  <div class="page-tit-wrap">
    <div class="tit-box">
      <span class="page-tail"></span>
      <h3>
        사용자가 설정한 환경값&nbsp;<span>백업 및 복원</span>
      </h3>
      <span class="page-tail"></span>
    </div>
    <div class="tip-box">
      <h4 class="tip-tit">How to use</h4>
      <dl>
        <dt>방식 1</dt>
        <dd>
          상단 바 좌측&nbsp;&nbsp;>&nbsp;&nbsp;EG-BIM
          로고&nbsp;&nbsp;>&nbsp;&nbsp;홈메뉴&nbsp;&nbsp;>&nbsp;&nbsp;사용자 설정
        </dd>
      </dl>
    </div>
  </div>

  <!-- // 타이틀 -->
  <div class="contents">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/interface/3x_interface_03.png`} alt=" " />
      <!-- 텍스트 -->
      <div class="blind">
        <dl>
          <dt>홈메뉴</dt>
          <dd>클릭 시 기본 특성 메뉴 ↔ 홈메뉴 변경</dd>
           
          <dt>사용자 설정</dt>
          <dd>저장하기 : “사용자 설정을 내보냈습니다.” 알림창이 뜨며 현재 사용자가 설정한 환경값 저장(화면, 마우스, 단축키 등)</dd>
          <dd>불러오기 : “사용자 설정을 가져왔습니다.” 메세지 알림창이 뜨며 백업한 사용자 설정 불러오기</dd>
        </dl>
      </div>
      <!-- // 텍스트 -->
    </div>
  </div>
</section>
