---
import { IMAGE_BASE_PATH } from '../config';
---


<section id="group1" class="interface01">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="tit-box">
    <h3>
      <span>필수요소</span>들의 <span>효율적인 화면구성</span> &
      <span>넓은 작업공간</span>
    </h3>
  </div>
</div>

<!-- // 타이틀 -->
<div class="contents">
  <div class="inner">
    <picture>
      <source media="(max-resolution: 139dpi)" srcset={`${IMAGE_BASE_PATH}/interface/interface_01.png`} />
      <source
        media="(min-resolution: 140dpi)"
        srcset={`${IMAGE_BASE_PATH}/interface/2x_interface_01.png`}
      />
      <img class="bg-img" src={`${IMAGE_BASE_PATH}/interface/interface_01.png`} alt=" " />
    </picture>
    <div class="ex-wrap">
      <img src={`${IMAGE_BASE_PATH}/interface/interface_01.svg`} alt="" />
    </div>
         <!-- 링크 -->
   <ul>
      <li>
        <a class="link-homemenu" href="/eg-bim_guide/help/interface02" >
        <span class="blind">홈메뉴</span>
      </a>
      </li>
      <li>
        <a class="link-propsbar" href="/eg-bim_guide/help/feature01" >
          <span class="blind">속성바</span>
        </a>
      </li>

      <li>
        <a class="link-mainprops" href="/eg-bim_guide/help/feature01">
          <span class="blind">속성창</span>
        </a>
      </li>

      <li>
        <a class="link-filetab" href="/eg-bim_guide/help/multi01">
          <span class="blind">파일 탭 분리</span>
        </a>
      </li>

      <li>
        <a class="link-layer" href="/eg-bim_guide/help/layer01">
          <span class="blind">레이어 상세</span>
        </a>
      </li>

      <li>
        <a  class="link-color"  href="/eg-bim_guide/help/feature02">
           <span class="blind">색상 상세</span>
        </a>
      </li>
      <li>
        <a class="link-line" href="/eg-bim_guide/help/style01">
          <span class="blind">선 스타일 상세</span>
        </a>
      </li>
      <li>
        <a class="link-text" href="/eg-bim_guide/help/style02">
          <span class="blind">문자 스타일 상세</span>
        </a>
      </li>
      <li>
        <a class="link-msmt" href="/eg-bim_guide/help/style03">
          <span class="blind">치수 스타일 상세</span>
        </a>
      </li>
      <li>
        <a class="link-print" href="/eg-bim_guide/help/print01" >
          <span class="blind">인쇄</span>
        </a>
      </li>

       <li>
        <a class="link-ggurumi" href="/eg-bim_guide/help/floorplan01">
          <span class="blind">꾸러미</span>
        </a>
      </li>
      <li>
        <a  class="link-layouttab" href="/eg-bim_guide/help/multi02">
          <span class="blind">layout 탭 분리</span>
        </a>
      </li>
      <li>
        <a class="link-setbar" href="/eg-bim_guide/help/customize01">
          <span class="blind">보조기능 전체보기</span>
        </a>
      </li>
      <li>
        <a class="link-cmdbar" href="/eg-bim_guide/help/customize01">
          <span class="blind">보조기능 아이콘바</span>
        </a>
      </li>
      <li>
        <a class="link-cmdall" href="/eg-bim_guide/help/customize01" >
          <span class="blind">명령어 아이콘바</span>
        </a>
      </li>

      <li>
        <a class="link-mainprf" href="/eg-bim_guide/help/customize01" >
          <span class="blind">명령어 전체보기</span>
        </a>
      </li>
     
    </ul>
    <!-- // 링크 -->
  </div>
</div>
</section>