---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group14" class="style01">
  <!-- 타이틀 -->
  <div class="page-tit-wrap">
    <div class="tit-box">
      <span class="page-tail"></span>
      <h3>
        <span>사용자 스타일</span>로 선 스타일 생성 및&nbsp;
        <span>수정, 관리</span>
      </h3>
      <span class="page-tail"></span>
    </div>
    <div class="tip-box">
      <h4 class="tip-tit">How to use</h4>
      <dl>
        <dt>방식 1</dt>
        <dd>명령어 입력창&nbsp;&nbsp;>&nbsp;&nbsp;Command : LINETYPE</dd>
      </dl>
      <dl>
        <dt>방식 2</dt>
        <dd>
          명령어 전체보기&nbsp;&nbsp;>&nbsp;&nbsp;도형&nbsp;&nbsp;>&nbsp;&nbsp;
          <img src={`${IMAGE_BASE_PATH}/ico/ico_line.svg`}  alt="" />&nbsp;&nbsp;선 스타일 생성
          및 수정하기&nbsp;&nbsp;>&nbsp;&nbsp;선 스타일 작성
        </dd>
      </dl>
      <dl>
        <dt>방식 3</dt>
        <dd>
          상단바&nbsp;&nbsp;>&nbsp;&nbsp;선 스타일&nbsp;&nbsp;>&nbsp;&nbsp;선
          스타일 상세
        </dd>
      </dl>
    </div>
  </div>

  <!-- // 타이틀 -->
  <div class="contents">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/style/3x_style_01.png`} alt=" " />
      <div class="blind">
          <dl>
            <dt>건설 CALS 선꼴 확인</dt>
            <dd>기본 선꼴과 5개 분야로 구분하여 분야별 표준 선꼴 제공</dd>

            <dt>LIN 파일 불러오기</dt>

            <dt>건설 CALS 선꼴 검색창</dt>

            <dt>선꼴 선택</dt>
            <dd>더블클릭으로 선택해 선스타일 LIST에 추가</dd>

            <dt>기본정보</dt>
            <dd>모든 객체가 가지고 있는 기본 특성</dd>

            <dt>선 스타일 LIST에 추가</dt>

            <dt>선 스타일  LIST</dt>
            <dd>기본 3가지 선꼴 제공 (Continous, CENTER. HIDDEN)</dd>
            <dd>우클릭 시 선 스타일 제거</dd>

            <dt>선 스타일 선택</dt>

            <dt>선꼴 수치 입력</dt>

            <dt>블록 상세 설정</dt>

            <dt>문자 상세 설정</dt>

            <dt>선 스타일 수정</dt>
            <dd>수정 &rarr; 취소/적용</dd>

            <dt>스타일 선택</dt>
            <dd>선꼴 : 선, 문자, 블록의 조합으로 선의 형상 선택</dd>
            <dd>블록 : 선택한 선꼴에 블록이 포함된 경우 활성화</dd> 
            <dd>문자스타일 : 선택한 선꼴에 문자가 포함된 경우 활성화, 현재 파일에서 사용 중인 문자스타일 로드</dd> 
          </dl>
        </div>
    </div>
  </div>
</section>