---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group12" class="command02">
<!-- 타이틀 -->
  <div class="page-tit-wrap">
    <div class="tit-box">
      <span class="page-tail"></span>
      <h3><span>토목/도로분야</span>의 도면 작업시 자주 사용되는 특화 명령어</h3>
      <span class="page-tail"></span>
    </div>
    <div class="tip-box">
      <h4 class="tip-tit">How to use</h4>
      <dl>
        <dt>방식 1</dt>
        <dd>
          명령어 아이콘바&nbsp;&nbsp;>&nbsp;&nbsp;명령어
          전체보기&nbsp;&nbsp;>&nbsp;&nbsp;선형/횡단
        </dd>
      </dl>
    </div>
  </div>

  <!-- // 타이틀 -->
  <div class="contents">
    <div class="inner">
      <img class="bg-img" src={`${IMAGE_BASE_PATH}/command/3x_command_02.png`} alt=" " />
      <!-- 링크 -->
      <div class="blind">
        <dl>
          <dt>EL 구하기</dt>
          <dd>도면작업 시 필요한 EL값 계산</dd>

          <dt>비탈면 그리기 및 경사표기 하기</dt>
          <dd>비탈면 or 교량 구조물 등의 앞성토 그리는 작업 시 사용</dd>

          <dt>시설물 및 차선 그리기</dt>
          <dd>횡단보도, 테이퍼 등 도로 시설물 그리기 작업 시 사용</dd>

          <dt>시설물 및 차선 그리기</dt>
          <dd>횡단보도, 테이퍼 등 도로 시설물 그리기 작업 시 사용</dd>

          <dt>현황 수정 및 표고점 생성하기</dt>
          <dd>표고점, 등고선 등 현황 수정과 생성 시 사용</dd>

          <dt>평면선형 측점 및 거리 표시하기</dt>
          <dd>측점 생성, 선형 측점 조회 등 평면선형 작업 시 사용</dd>

          <dt>비탈면 그리기 및 경사표기 하기</dt>
          <dd>비탈면 or 교량 구조물 등의 앞성토 그리는 작업 시 사용</dd>

          <dt>횡단면도 작성하기</dt>
          <dd>쌓기, 깎기부 비탈면 등 횡단면도 그리기 작업 시 사용</dd>

          <dt>선형 그리기</dt>
          <dd>도로 설계에서 사용되는 완화 곡선, 접선 등 선형을 편리하게 그릴 때 사용</dd>

          <dt>종단선형 작성 및 계획고 찾기</dt>
          <dd>도로의 종단 선형을 계산하고 그리는 작업 시 사용</dd>

          <dt>측구 설치하기</dt>
          <dd>V형 측구와 산마루 측구 생성</dd>
        </dl>

      </div>
      <!-- // 링크 -->
    </div>
  </div>
</section>