---
import { IMAGE_BASE_PATH } from '../config';
---

<section id="group9" class="multi02">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="tit-box">
    <span class="page-tail"></span>
    <h3>
      <span>Layout(도면공간) 탭 화면분리</span>로 Model공간과 Layout공간&nbsp;
      <span>동시 작업</span>
    </h3>
    <span class="page-tail"></span>
  </div>
  <div class="tip-box">
    <h4 class="tip-tit">How to use</h4>
    <dl>
      <dt>방식 1</dt>
      <dd>작업공간 탭&nbsp;&nbsp;>&nbsp;&nbsp;Layout 드래그 & 드롭</dd>
    </dl>
  </div>
</div>
<!-- // 타이틀 -->

<div class="contents">
  <div class="inner">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/multi/3x_multi_02.png`} alt=" " />
    <div class="blind">
       <dl>
          <dt>듀얼모드 동시 작업(Layout 공간)</dt>
          <dd>Model 공간 & Layout 공간 / Layout 공간 & Layout 공간 동시 작업</dd>
          <dd>화면 밖으로 드래그&드롭하여 Layout 공간 생성</dd>
 
          <dt>Layout 탭 분리</dt>
          <dd>Layout 탭이 분리되어 Layout 공간이 별도로 생성됨</dd>
          <dd>기존 작업화면과 동일하게 모든 기능 사용 가능</dd>
        </dl>
    </div>
  </div>
</div>
</section>